<?xml version='1.0' encoding='utf-8'?>
<widget id="io.intercom.cordova.sample" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Intercom Cordova</name>
    <description>
        An Intercom sample application for Cordova.
    </description>
    <author email="team@intercom.com" href="http://intercom.com">
        Brian Boyle
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="21" />
        <icon density="hdpi" src="www/img/android/hdpi.png" />
        <icon density="mdpi" src="www/img/android/mdpi.png" />
        <icon density="xhdpi" src="www/img/android/xhdpi.png" />
        <icon density="xxhdpi" src="www/img/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="www/img/android/xxxhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="deployment-target" value="10.0" />
        <preference name="BackupWebStorage" value="local" />
        <icon height="29" src="www/img/icon-29.png" width="29" />
        <icon height="58" src="www/img/icon-29@2x.png" width="58" />
        <icon height="87" src="www/img/icon-29@3x.png" width="87" />
        <icon height="180" src="www/img/icon-60@3x.png" width="180" />
        <icon height="60" src="www/img/icon-60.png" width="60" />
        <icon height="120" src="www/img/icon-60@2x.png" width="120" />
        <icon height="76" src="www/img/icon-76.png" width="76" />
        <icon height="152" src="www/img/icon-76@2x.png" width="152" />
        <icon height="40" src="www/img/icon-40.png" width="40" />
        <icon height="80" src="www/img/icon-40@2x.png" width="80" />
        <icon height="167" src="www/img/icon-83.5@2x.png" width="167" />
        <splash src="www/img/launch/Default@2x~universal~anyany.png" />
    </platform>
    <preference name="intercom-app-id" value="YOUR_APP_ID" />
    <preference name="intercom-ios-api-key" value="YOUR_IOS_API_KEY" />
    <preference name="intercom-android-api-key" value="YOUR_ANDROID_API_KEY" />
    <plugin name="cordova-plugin-whitelist" spec="1.0.0" />
</widget>
